Makefile
*.o
/config
/configure
/Makefile.in
/aclocal.m4
/autom4te.cache
/configure
/m4
/doc/Makefile.in
/tests/Makefile.in


.suo
*.log
*.pdb
*.tlog
*.obj
*.vcxproj
*.vcxproj.filters
CMakeCache.txt
CMakeFiles/
*.lib
*.exe
*.VC.db
*.sln
*.ilk
/*.cmake

*.dll
*.dir/
*.raw
*.wav
Win32
*.tcl
*.cmake
*.vcxproj.user